.portcontent-manage {
	margin: 100px 0 0 0;
}


/*top: portfolio pic, name, intro*/
.updateportinfo-btn {
	margin: 0 0 10px 70vw;
	width: 150px;
	height: 40px;
	font-size: 15px;
	letter-spacing: 2px;
	background-color: #932534;
	color: #fff;
}
.updateportinfo-btn:hover {
	background-color: #932534;
	color: #fff;
	opacity: 0.9;
	outline: 0;
}
.updateportinfo-btn:focus {
	background-color: #932534;
	color: #fff;
	outline: 0;
}

.port-author {
	margin: 0;
	padding: 10px 0 25px 0;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color: #AAA;
}

.portcontent-intro {
	position: absolute;
	margin: -230px 0 0 40px;
}
.portintro-content h5 {
	margin: 5px 0 8px 25px;
	font-size: 15px;
	letter-spacing: 1.5px;
	line-height: 25px;
	color: #222B31;
}
.port-intro {
	/*background-color: #AAA;*/
	max-height: calc(100vh - 250px);
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #222B31;
	margin: -30px 0 0 80px;
	width: 400px;
	height: 80px;
	padding: 0 0 0 5px;
	font-size: 14px;
	letter-spacing: 1.5px;
	word-break: break-all;
	color: #222B31;
}

/*content: images*/
.manageportcontent {
	margin: 50px 0 50px 330px;
	width: 60vw;
	max-height: calc(140vh - 250px);
	overflow-x: hidden;
	overflow-y: auto;
	/*background-color: #AAA;*/
	box-shadow: 0px 4px 15px #444;
}
#portcontent-images {
	margin: 40px 0 10px 0;
}
#portcontent-images li {
	display: inline-block;
	padding: 5px 15px;
}
#portcontent-images img {
	width: 180px;
	height: 180px;
}
#portcontent-images h5 {
	text-align: center;
	font-size: 15px;
	letter-spacing: 1px;
	color: #222B31;
}