.portcontent-manage {
	margin: 120px 0 0 0;
}


/*top: portfolio pic, name, intro*/
.portcontent-intro {
	position: absolute;
	margin: -230px 0 0 40px;
}
.portintro-content h5 {
	margin: 5px 0 5px 25px;
	font-size: 15px;
	letter-spacing: 1.5px;
	line-height: 25px;
	color: #222B31;
}
.port-intro {
	/*background-color: #AAA;*/
	max-height: calc(100vh - 250px);
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #222B31;
	margin: -25px 0 0 80px;
	padding: 0 0 0 5px;
	width: 400px;
	height: 80px;
	font-size: 14px;
	letter-spacing: 1.5px;
	word-break: break-all;
	color: #222B31;
}

.updateportinfo-btn {
	margin: 25px 0 0 45vw;
	width: 160px;
	height: 40px;
	font-size: 15px;
	letter-spacing: 2px;
	background-color: #932534;
	color: #fff;
}
.updateportinfo-btn:hover {
	background-color: #932534;
	color: #fff;
	opacity: 0.9;
	outline: 0;
}
.updateportinfo-btn:focus {
	background-color: #932534;
	color: #fff;
	outline: 0;
}


/*content: images*/
.manageportcontent {
	margin: 40px 0 50px 310px;
	width: 65vw;
	max-height: calc(140vh - 250px);
	overflow-x: hidden;
	overflow-y: auto;
	/*background-color: #AAA;*/
	box-shadow: 0px 4px 15px #444;
}
#portcontent-images {
	margin: 40px 0 10px 0;
}
#portcontent-images li {
	display: inline-block;
	padding: 5px 15px;
}
#portcontent-images img {
	width: 180px;
	height: 180px;
}
#portcontent-images h5 {
	text-align: center;
	font-size: 15px;
	letter-spacing: 1px;
	color: #222B31;
}


/*addimages modal*/
#addimages-box {
	position: relative;
	margin: 5% auto;
	width: 550px;
	height: 660px;
	background: #FFF;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.newimageupload {
	/*background-color: #AAA;*/
	width: 460px;
	height: 450px;
	max-height: calc(220vh - 250px);
	overflow-x: hidden;
	overflow-y: auto;
}

.image-upload.addimages {
	max-width: 200px;
	margin: 10px 0 5px 30px;
}
.image-upload.addimages .image-preview {
	margin: 0;
}
.image-upload.addimages .image-intro {
	margin: 10px 0 0 0;
}

.content.addimages button {
	margin: 25px 0 10px 170px;
	width: 120px;
	height: 40px;
	font-size: 15px;
	letter-spacing: 2px;
	background-color: #932534;
	color: #fff;
}
.content.addimages button:hover {
	background-color: #932534;
	color: #fff;
	opacity: 0.9;
	outline: 0;
}
.content.addimages button:focus {
	background-color: #932534;
	color: #fff;
	outline: 0;
}