.portfolio-manage {
	margin: 120px 0 0 0;
}

#managetop, #managecontent {
	margin: 0 0 0 350px;
}

#managetop li {
	padding: 0 15px 0 0;
	display: inline-block;
}

.manage-username {
	margin: 0;
	padding: 15px 0 30px 0;
	text-align: center;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 2px;
	color: #222B31;
}

.manage-experience {
	position: absolute;
	margin: -180px 0 0 80px;
}

.subitem-title {
	margin: 0 0 30px 0;
}

.subitem-title h4 {
	display: inline;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 2px;
	color: #932534;
}

.subitem-title h5 {
	display: inline;
	font-size: 16px;
	letter-spacing: 1.5px;
	color: #AAA;
}

.subitem-content {
	margin: 0 0 0 25px;
}

.subitem-content h5 {
	font-size: 15px;
	letter-spacing: 1.5px;
	color: #222B31;
}

#managecontent .subitem-title {
	margin: 40px 0 40px 0;
}

#managecontent #albums li {
	padding: 20px 25px !important;
}

.port-page {
	margin: 0 0 50px 330px;
}

.port-page i {
	display: inline;
	font-size: 18px;
	color: #932534;
}

.port-page h2 {
	display: inline;
	font-size: 22px;
	letter-spacing: 1px;
}